<%= form_for(@restaurant_cuisine) do |f| %>
  <% if @restaurant_cuisine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@restaurant_cuisine.errors.count, "error") %> prohibited this restaurant_cuisine from being saved:</h2>

      <ul>
      <% @restaurant_cuisine.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.collection_select :restaurant_id,Restaurant.all,:id,:name,prompt: "Select Restaurant" %>
  </div>
  <div class="field">
    <%= f.label :cuisine_id %><br>
    <%= f.collection_select :cuisine_id,Cuisine.all,:id,:name,prompt:"Select Cuisine" %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
