<%= form_for(@rest_highlight) do |f| %>
  <% if @rest_highlight.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rest_highlight.errors.count, "error") %> prohibited this rest_highlight from being saved:</h2>

      <ul>
      <% @rest_highlight.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :restaurant_id %><br>
    <%= f.number_field :restaurant_id %>
  </div>
  <div class="field">
    <%= f.label :highlight_id %><br>
    <%= f.number_field :highlight_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
