<p id="notice"><%= notice %></p>

<h1>Listing Rest Highlights</h1>

<table>
  <thead>
    <tr>
      <th>Restaurant</th>
      <th>Highlight</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @rest_highlights.each do |rest_highlight| %>
      <tr>
        <td><%= rest_highlight.restaurant_id %></td>
        <td><%= rest_highlight.highlight_id %></td>
        <td><%= link_to 'Show', rest_highlight %></td>
        <td><%= link_to 'Edit', edit_rest_highlight_path(rest_highlight) %></td>
        <td><%= link_to 'Destroy', rest_highlight, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Rest highlight', new_rest_highlight_path %>
