<div class="container">
<p id="notice"><%= notice %></p>
<div class="page-header">
<h3>Name: <%= @city.name %> </h3>
</div>
<p>
  <strong>Name:</strong>
  <%= @city.name %>
</p>

<%= link_to 'Edit', edit_city_path(@city),class:'btn btn-info' %> 
<%= link_to 'Back', cities_path,class:'btn btn-info' %>
</div>