<!DOCTYPE html>
<html>
<head>
  <title>Zomanto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	
	
	<div class="header">
		<div class="right" align="right">

			<% if user_signed_in? %>
			<%= link_to "Account Setting",edit_user_registration_path,class: 'btn btn-info' %>
			<%= link_to "Logout",destroy_user_session_path, method: :delete,class:'btn btn-info' %>
			<% else %>

		    <ul class="right" align="right">
		    <%= link_to "Login",new_user_session_path,class: 'btn btn-info' %>
		    <%= link_to "Register",new_user_registration_path,class: 'btn btn-info' %>
		    </ul>
			<% end %>
		</div>
		</div>

<%= render partial: "shared/navbar" %>
<%= yield %>


</div>
</body>
</html>
